<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Directory</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="/documents">Documents</a></li>
        <li class="nav-item"><a class="nav-link" href="/about">About Us</a></li>
      </ul>
    </div>
  </nav>
  